AGENT_PRIVATE_KEY=0xREPLACE_WITH_AGENT_PRIVATE_KEY

MCP_TEMPO_PROFILE=phase3-tempo4217
TEMPO_RPC_URL=https://rpc.tempo.xyz
TEMPO_CHAIN_ID=4217
SETTLEMENT_DOMAIN_ID=4217

PONDER_GRAPHQL_URL=http://localhost:42069/graphql
PARLY_SDK_ASSETS_PATH=

ENABLE_MPP_ADAPTER=true
MPP_SERVICE_NAME=parly-mpp-adapter
MPP_SERVICE_VERSION=16.9.9
